/* Styles for first Wordpress Website
Name: First Theme
Author: Brandon Davila
Date: July 3rd, 2022

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E4D6A7;
}

header {
    /* background-color: chocolate; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}



img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact h1 {
    text-align: center;
}

.home h2 {
    text-align: center;
    font-size: 2.4em;
}

.home #wrapper {
    padding: 20px;
}

#top {
    padding: 10px 30px 20px 10px;
    background-color: #2f0035;
    overflow: hidden;
}

#inner-header {
    max-width: 1230px;
    margin: 5px auto;
    background-color: #919ec9;
    padding: 5px 30px 2px 0px;
    clear: both;

}

.inner-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    clear: both;
    background-color: #2f0035;
    color: #e4d7a7;
    text-align: center;



}

.inner-footer h2 {
    font-size: 2em;
    margin-bottom: 20px;
}


/* .inner-footer .third {
    text-align: center;
} */

.inner-footer ul {
    height: 60px;
    line-height: 60px;
    font-size: .875em;
    list-style: none;

}

.inner-footer a {
    color: #ffc900;
    text-decoration: none;
}

.inner-footer a:hover {
    text-decoration: underline;
    color: #919ec9;
}

.inner-footer li {
    float: left;
    margin-right: 25px;
}

.row {
    overflow: hidden;

}

.row p {
    font-size: .92em;
}

.third {
    width: 31.91%;
    float: left;
    margin-right: 2.12%;
    padding: 0 1%;

}

.col8 {
    float: left;
    width: 48.93%;
}



.col8:last-of-type {
    float: right;

}

#wrapper .third {

    padding: 0;

}


.third h3,
.col8 h3 {
    margin-bottom: 15px;
    font-size: 1.35em;
}

.third:last-of-type {
    margin-right: 0;
}

.nav-button {
    display: none;
}

#inner-header img {
    width: 100%;
    max-width: 40px;
    margin-left: 10px;
}

main {
    padding: 20px;
    width: 62%;
    float: left;
}

aside {
    float: right;
    width: 35%;
    /* height: 400px; */
    /* background-color: #919ec9; */
}

.blog aside li,
.category aside li,
.search aside li,
.archive aside li,
.post-template-default aside li {
    margin-bottom: 5px;
}

.inner-widget h3 {
    background: #2f0035;
    color: #E9B44C;
    font-size: 1.4em;
    padding: 3%;
    margin-bottom: 10px;

}

.inner-tours {
    background-color: #D3BE73;
    padding: 3%;

}

.inner-tours p {
    margin-bottom: 0;
}

.inner-specials {
    margin: 10px 0 20px 0;
    padding: 3%;
    border: 2px solid #2f0035;
    border-radius: 2.5px;
}

.inner-buy {
    clear: both;
    border: 2px solid #2f0035;
    border-radius: 2.5px;
}

.inner-tours h3 {
    color: #ae4a00;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.inner-tours a {
    border-bottom: 1px solid;
}

.inner-tours li {
    margin: 0 0 10px 0;
}

aside a {
    /* text-decoration: none; */
    color: #2f0035;
    padding: 3px;
}

aside a:hover {

    border: 2px solid;
    border-radius: 4px;
    box-shadow: 3px 4px 0 #2f0035;

}

.widget-area ul {
    list-style: none;
    text-decoration: underline;
    margin-left: 5%;
    margin-bottom: 25px;
}

.widget-area li {
    padding: 4px;

}



/* this is our hero image */
#hero {

    background-color: cadetblue;
}

.home #hero {
    background-image: url(https://www.nodnarbalivad.com/it270/site1/wp-content/uploads/liurnia-of-the-lakes.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    min-height: 600px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


}

/* This is the post thumbnail image on the tours page */
main .attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/* this is the image size for images on the blog and catefory pages */
.blog main .attachment-post-thumbnail.size-post-thumbnail.wp-post-image,
.category main .attachment-post-thumbnail.size-post-thumbnail.wp-post-image,
.archive main .attachment-post-thumbnail.size-post-thumbnail.wp-post-image,
.search main .attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    width: auto;
    height: auto;
    margin-bottom: 15px;
}



.inner-page #hero {
    background-image: url(https://www.nodnarbalivad.com/it270/site1/wp-content/uploads/erdtree.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    min-height: 580px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#hero img {
    display: none;
    width: 100%;
}

#wrapper {
    max-width: 1200px;
    margin: 20px auto 90px auto;
    color: #2f0035;

}



.error404 #wrapper,
.search #wrapper {
    margin: 140px auto 0 auto;
}

main {
    width: 62%;
    float: left;
}

footer {

    background-color: cornsilk;
    clear: both;
}

#site-navigation {
    float: right;

}

#site-navigation li {
    float: left;
    list-style: none;
    margin-left: 15px;

}

#site-navigation li a {
    text-decoration: none;
    padding: 2px 3px;
    color: #2f0035;

}

#site-navigation li a:hover {
    border: 1px solid #2f0035;
    border-radius: 5px;
    box-shadow: 3px 4px 0 #2f0035;


}

.sub-menu {
    display: none;
    border: 2px solid #2f0035;
    border-radius: 3px;
    padding-left: 10px;
}

.sub-menu li {
    margin: 10px 5px;
}

/* .sub-menu a {
    margin: 0 0 0 10px;
} */





#site-navigation li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #E9B44C;
    /* max-width: 323px; */
    width: auto;
    /* right: 5px; */
    /* height: auto; */

}

#site-navigation li:hover .sub-menu li {
    margin-left: 0;
    float: none;
    line-height: 1.4;
}

/* Classes and IDs */
.screen-reader-text {
    display: none;
}


#top #searchform {
    float: right;
}

.post,
.posts {
    margin-bottom: 25px;
}




.post a {
    text-decoration: none;
    color: #2f0035;
}

.post a:hover {
    text-decoration: underline;
}



.meta {
    margin-bottom: 10px;
}

/* +++formidable forms css+++ */
.frm_form_title {
    font-size: 1.8em !important;
    background: none !important;
    padding: 0 !important;
    color: #2f0035 !important;
}

.with_frm_style legend + h3,
.with_frm_style h3.frm_form_title {
    margin-bottom: 15px !important;
}

.frm_button_submit {
    background: none !important;
    border: 2px solid #2f0035 !important;
    color: #2f0035 !important;
}

.frm_button_submit:hover {
    box-shadow: 3px 4px 0 #2f0035 !important;
    transition: .05s;
    background: #ffc900 !important;

}


/* +++formidable forms contact form css+++ */
.frm_fields_container {
    max-width: 900px;
    margin: 0 auto;
}

.contact .frm_form_title {
    text-align: center !important;
}

/* +++ End formidable forms css+++ */

/* End classes and Ids */


/* typography */
blockquote {
    font-size: 1.75em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px 6% 30px 6%;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
}

.home blockquote + p {
    font-size: 1.3em;
    margin: 0 4% 20px 4%;
}

.home blockquote + p::first-line {
    color: #73653c;
    font-weight: bold;
}

.home blockquote + p + p {
    font-size: 1.3em;
    margin: 0 4% 40px 4%;
}

.home h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;


}

.third span a {
    display: block;
    font-style: italic;
    margin-top: 5px;
    font-size: 1.1em;
    text-decoration: underline;
}

.third span a:hover {
    color: #919ec9;
}

p {
    margin-bottom: 20px;
}

.title {
    font-size: 2em;
}

.meta span {
    display: block;
    font-style: italic;
}

/* end typography */

/* comment form css */

#commentform {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0 20px 0;
    border-radius: 10px;
}

.commentlist {
    margin: 10px 10px 20px 40px;
}

.comment-notes {
    font-size: .9em;
    font-style: italic;
    color: darkgreen;
    margin-bottom: 6px;
}

label {
    display: block;
}

.comment-form-cookies-consent label {
    display: inline;
}

.comment-form p {
    margin-bottom: 10px;
}



/* Media Queries Start Here */


@media screen and (max-width:450px) {
    #inner-header {


        padding: 10px 25px 10px 25px;


    }

    #wrapper {
        max-width: 1200px;
        margin: 30px;
    }

    .home #hero {
        background-image: none;
        margin-top: 84px;
        min-height: auto;
    }

    .inner-page #hero {
        background-image: none;
        margin-top: 84px;
        min-height: auto;
    }

    #hero img {
        display: block;
    }


}


@media only screen and (max-width: 890px) {


    .third {
        width: auto;
        float: none;
        margin-right: 0;
        padding: 0 1%;
        text-align: center;

    }

    .third img {
        margin: 0 auto 15px auto;
        display: block;
    }

    main {
        width: 60%;
    }

    aside {
        width: 37%;
    }

}

@media only screen and (max-width: 700px) {

    header {
        padding-top: 15px;
    }

    body {
        font-size: 93%;
    }

    .home #hero {
        margin-top: 50px;
    }

    .inner-page #hero img {
        display: none;
    }

    main,
    aside {
        float: none;
        width: auto;
    }

    #wrapper {
        margin: 13px;
    }

    .search #wrapper {
        margin: 120px 13px 20px 13px;
    }

    .col8 {
        float: none;
        width: auto;
        text-align: center;
    }

    .col8:last-of-type {
        float: none;
    }

    .col8 img {
        margin-bottom: 15px;
    }



    .blog main,
    .search main,
    .blog aside,
    .archive main {
        text-align: center;
    }

    .inner-footer ul {
        height: auto;
        line-height: inherit;

    }

    .inner-footer a {
        color: #ffc900;

    }

    .inner-footer li {
        float: none;
        margin-right: 0;
        text-align: center;
        line-height: 1.5;
    }



    /* Navigation Button
	-------------------------------------------------------- */

    .nav-button {
        display: block;
        position: absolute;
        top: 7px;
        left: 7px;
        width: 50px;
        height: 35px;
        background: url('images/menu-icon-large.png'), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 21px, 100%;
        cursor: pointer;
        border: 0 none;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        box-shadow: 0 0 4px rgba(0, 0, 0, .7) inset;
        border-radius: 5px;
        z-index: 999;
        text-indent: -9999px;
    }

    .nav-button:hover {
        background-color: rgba(0, 0, 0, .1);
    }

    .nav-button.open {
        background: url('images/close-icon-large.png'), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 21px, 100%;
    }

    /* Navigation Bar
	-------------------------------------------------------- */

    body {
        padding-top: 50px;
    }

    .primary-nav {
        width: 100%;
        float: none;
        background-color: #2f0035;
        /* change the menu color */
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
        display: block;
        height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 998;
        clear: both;
    }

    /* My Navigation styles */
    #site-navigation li {
        float: none;
        margin-left: 0;
    }

    #site-navigation li a {
        color: #E9B44C;
    }

    #site-navigation li:hover .sub-menu a {
        color: #2f0035;

    }

    #site-navigation li:hover .sub-menu a:hover {
        color: #e4d7a7;

    }


    .primary-nav li {
        display: none;
        width: 100%;
        font-family: Arial;
    }

    #site-navigation li:hover .sub-menu {
        width: auto;
        position: static;

        padding: 5px;
    }

    #top #searchform {
        float: none;
        position: fixed;
        top: 15px;
        right: 10px;
        z-index: 1000;
    }

    /* End my nav styles */

    .primary-nav li a {
        display: block;
        width: 100%;
        padding: 10px 5%;
        font-size: 14px;
        font-weight: bold;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, .15);
        color: white;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        border-top: 1px solid rgba(255, 255, 255, .1);
    }

    .primary-nav li a:hover {
        background-color: rgba(0, 0, 0, .5);
        border-top-color: transparent;
    }

    .primary-nav > li:first-child {
        border-top: 1px solid rgba(0, 0, 0, .2);
    }

    /* Toggle the navigation bar open  */

    .primary-nav.open {
        height: auto;
        padding-top: 50px;
    }

    .primary-nav.open li {
        display: block;
    }

    /* Submenus – optional .parent class indicates dropdowns */

    .primary-nav > li:hover > a {
        background: rgba(0, 0, 0, .5);
        border-bottom-color: transparent;
    }

    .primary-nav li.parent > a:after {
        content: "▼";
        color: rgba(255, 255, 255, .5);
        float: right;
    }

    .primary-nav li.parent > a:hover {
        background: rgba(0, 0, 0, .75);
    }

    .primary-nav li ul {
        display: none;
        background: rgba(0, 0, 0, .5);
        border-top: 0 none;
        padding: 0;
    }

    .primary-nav li ul a {
        border: 0 none;
        font-size: 12px;
        padding: 10px 5%;
        font-weight: normal;
    }

    .primary-nav li:hover ul {
        display: block;
        border-top: 0 none;
    }

}

/* End Mobile Styles */